@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Outfit&display=swap');

.s1{
    color: white;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-image: url('../images/2.jpg');
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.s1 a{
    background-color: gray;
    height: 150px;
    width: 150px;
}

.s2{
    display: table-cell;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-image: url('../images/3.jpg');
    background-size: cover;
    max-height: 100%;
}

.s2 p{
    font-family: 'Outfit', sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: justify;
}

.title {
    top: 50%;
    left: 50%;
    height: 200px;
    float: left;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 40px;
    padding: 30px;
    margin-left: 50px;
    margin-top: 150px;
    font-family: 'Outfit', sans-serif;
    vertical-align: middle;
}
  
.aboutme {
    vertical-align: middle;
    text-align: center;
    align-items: center;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    padding: 30px;
    justify-content: center;
    top: 50%;
    left: 50%;
    font-size: 20px;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}

.s3{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

span{
    background-color: white !important;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-shadow: white 5px;
}